@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(http://fonts.googleapis.com/css?family=Lobster);

#login {
  display: none;
  margin: auto;
  text-align: center;
}

.login {
  margin-right: 10px;
}

body {
  margin-top: 75px;
  margin-left: 30px;
  background-image: url('/img/background1.png');
}

.navbar-text {
  padding-top: 5px;
}

a.navbar-text {
  font-size: 17px;
}

.navbar.navbar-inverse.navbar-fixed-top {
  height: 50px;
  padding-right: 20px;
  background-color: #4F413E !important;
  box-shadow: 1px 2px 5px black;
}

.navbar-text {
  color: #DECAB6 !important;
  margin: 0px;
}

.nav.navbar-nav.navbar-right a {
  color: #DECAB6 !important;
}

.navbar-inverse {
  border-color: #4F413E !important;
}

a.navbar-text.display:hover, a.navbar-text.logout:hover {
  color: #F1AF61 !important;
}

.letscolor {
  color: #F1AF61;
  text-shadow: 1px 1px 2px black;
  margin: auto;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.mainheader {
  color: #F1AF61;
  font-family: 'Lobster', cursive;
  font-size: 100px;
  margin: auto;
  text-align: center;
  margin-top: 150px;
  text-shadow: 1px 1px 2px black;
}

.signin.btn.btn-success.login {
  background-color: #4F413E;
  border-color: #4F413E;
  box-shadow: 1px 1px 2px black;
}

.signin.btn.btn-success.login:hover {
  background-color: #665349;
  border-color: #665349;
}

div.button {
  margin: auto !important;
  text-align: center !important;
  padding-top: 30px;
}

.coloring {
  font-size: 30px;
  padding-top: 10px;
  color: #DECAB6;
  text-shadow: 1px 1px 2px black;
}

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

.btn.btn-primary {
  margin-right: 10px;
}

.btn.btn-primary.facebook {
  background-color: #45619D;
  border-color: #45619D;
}

.btn.btn-primary.facebook:hover {
  background-color: #2C406A;
  border-color: #2C406A;
}

.btn.btn-primary.twitter {
  background-color: #55ACEE;
  border-color: #55ACEE;
}

.btn.btn-primary.twitter:hover {
  background-color: #3E86BD;
  border-color: #3E86BD;
}

span.fa.fa-facebook::before {
  padding-right: 5px;
}

span.fa.fa-twitter::before {
  padding-right: 5px;
}

#canvasDiv {
	cursor:wait;
	width:700px;
	height:500px;
  background-color: white;
  margin: auto;
  text-align: center;
  margin-top: 40px;
  box-shadow: 2px 2px 5px black;
}

#canvasDiv {
	cursor:pointer;
	width:700px;
	height:500px;
}
