@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(http://fonts.googleapis.com/css?family=Lobster);

#registration, #login {
  display: none;
  margin: auto;
  text-align: center;
}

.regemail, .regpassword {
  margin-bottom: 10px;
}

.email, .password, .login {
  margin-right: 10px;
}

body {
  margin-top: 75px;
  margin-left: 30px;
  background-image: url('/img/background1.png');
}

.navbar-text {
  padding-top: 5px;
}

a.navbar-text {
  font-size: 17px;
}

.navbar.navbar-inverse.navbar-fixed-top {
  height: 50px;
  padding-right: 20px;
  background-color: #4F413E !important;
  box-shadow: 1px 2px 5px black;
}

.navbar-text {
  color: #DECAB6 !important;
  margin: 0px;
}

.nav.navbar-nav.navbar-right a {
  color: #DECAB6 !important;
}

.navbar-inverse {
  border-color: #4F413E !important;
}

a.navbar-text.display:hover, a.navbar-text.logout:hover {
  color: #F1AF61 !important;
}

.letscolor {
  color: #F1AF61;
  text-shadow: 1px 1px 2px black;
  margin: auto;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.mainheader {
  color: #F1AF61;
  font-family: 'Lobster', cursive;
  font-size: 100px;
  margin: auto;
  text-align: center;
  margin-top: 300px;
  text-shadow: 1px 1px 2px black;
}

.register.btn.btn-warning.btn.btn-primary.btn {
  background-color: #F1AF61;
  border-color: #F1AF61;
}

.signin.btn.btn-success.login {
  background-color: #CA6049;
  border-color: #CA6049;
}

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}
