extends ../shared/template

block content

  table#letscolor
    tr
      td.coloringBoard
        h1.letscolor.animated.bounceInLeft= title
        .clearButton.animated.bounceInLeft
          button#clearCanvas.btn.btn-primary Clear Canvas
          button#save.btn.btn-primary Save Drawing

        .colors.animated.bounceInLeft
          p.chooseColor Choose a color:
          button#chooseYellow.color.btn.btn-primary
          button#chooseOrange.color.btn.btn-primary
          button#chooseRed.color.btn.btn-primary
          button#choosePink.color.btn.btn-primary
          button#choosePurple.color.btn.btn-primary
          button#chooseBlue.color.btn.btn-primary
          button#chooseGreen.color.btn.btn-primary
          button#chooseBrown.color.btn.btn-primary
          button#chooseGray.color.btn.btn-primary
          button#chooseBlack.color.btn.btn-primary
          button#chooseWhite.btn.btn-primary Eraser

        .sizes.animated.bounceInLeft
          p.chooseSize Choose a Pen Size:
          button#chooseSmall.btn.btn-primary Small
          button#chooseMedium.btn.btn-primary Medium
          button#chooseLarge.btn.btn-primary Large
          button#chooseExtraLarge.btn.btn-primary Extra Large

        #drawings.animated.bounceInLeft
          p.chooseDrawing Choose a Drawing or Draw your Own!
          select#drawing
            option.option(value='none') Choose a Drawing
            option.option(value='none') Blank Canvas
            option.option(data-picture='/img/dragon.png', value='dragon') Dragon
            option.option(data-picture='/img/pandf.png', value='pandf') Phineas and Ferb
            option.option(data-picture='/img/narwhal.png', value='narwhal') Narwhal
            option.option(data-picture='/img/world.png', value='world') World
            option.option(data-picture='/img/horse.png', value='horse') Horse
            option.option(data-picture='/img/sonic.png', value='sonic') Sonic
          button#generate.btn.btn-primary Generate

        #canvasDiv.animated.bounceInLeft
        img#canvasImg

      td.chat.animated.bounceInDown
        p.chatHeader Chat
        input#message(type='text')
        button#send.btn.btn-primary Send
        ul#messages
        #chat
