/*
  HIDESHARE CSS
*/
.hideshare-wrap {
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.hideshare-wrap .hideshare-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.hideshare-wrap li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 10px 5px 0;
}
.hideshare-wrap span {
  display: none;
}

img {
  margin: 0 auto 5em;
  width: 200px;
  height: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #444;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: #4e4e4e;
}

.share {
  box-shadow: 1px 1px 2px black;;
  display: block;
  width: 150px;
  margin: auto;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(159, 159, 159, 0.23);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #C8B6A5),
    color-stop(1, #69574C)
  );
  background-image: -o-linear-gradient(bottom, #C8B6A5 0%, #69574C 100%);
  background-image: -moz-linear-gradient(bottom, #C8B6A5 0%, #69574C 100%);
  background-image: -webkit-linear-gradient(bottom, #C8B6A5 0%, #69574C 100%);
  background-image: -ms-linear-gradient(bottom, #C8B6A5 0%, #69574C 100%);
  background-image: linear-gradient(to bottom, #C8B6A5 0%, #69574C 100%);
}
.share:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(159, 159, 159, 0.23);*/
  background-image: -webkit-gradient(
  	linear,
  	left top,
  	left bottom,
  	color-stop(0, #69574C),
  	color-stop(1, #C8B6A5)
  );
  background-image: -o-linear-gradient(bottom, #69574C 0%, #C8B6A5 100%);
  background-image: -moz-linear-gradient(bottom, #69574C 0%, #C8B6A5 100%);
  background-image: -webkit-linear-gradient(bottom, #69574C 0%, #C8B6A5 100%);
  background-image: -ms-linear-gradient(bottom, #69574C 0%, #C8B6A5 100%);
  background-image: linear-gradient(to bottom, #69574C 0%, #C8B6A5 100%);*/
}
.hideshare-list a {
  color: #dedede;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.hideshare-list a:hover {
  color: #ffffff;
}
